.parent{
    -fx-background-color: #ffffff;
}
.pane{
    -fx-background-color:  #ffffff ;
    -fx-border-color: #c1c1c1;
    -fx-background-radius: 30px 30px 30px 30px;
    -fx-border-radius: 30px 30px 30px 30px;
}